

.card{
    width: 70%;
    margin-left: 16%;
 

    
}
.btn{
    margin-right: 20%;
    background-color: rgb(141, 92, 206);
    width: 22%;
  

    
}

.container-fulid {
    background-color: rgb(141, 92, 206);
}




